{{#partial "content"}}
    <div class="well">
    <h3>Why?! Hack-A-Thon</h3>
    <p>they were do busy asking if they could to ask if they should</p>
    <hr>
    <p>What you can do</p>
    <ul></ul>
    <li><a href="/teams">See all teams</a></li>
    <li><a href="/teams/new">Add new team</a></li>
    <li><a href="/about">See what we're about</a></li>
    </div>

{{/partial}}

{{> layout.hbs}}