{{#partial "content"}}
    <div class="well">
        <h3>Success!</h3>
        <p>The member has been saved</p>
        <br>
        <br>
        <a href="/teams/{{team.id}}"><button class="btn btn-default">back</button></a>
    </div>
{{/partial}}

{{> layout.hbs}}